// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-control.task_new {
  width: 20%;
}

.form-control.task_content {
  width: 50%;
}

.card.w-50.task_card {
  margin: auto;
  margin-top: 80px;
}

.status_label {
  color: #a7d3f2;
}
